In [ ]:
# Q1:
# What is a database? Differentiate between SQL and NoSQL databases.
"""
A database is a collection of data organized and stored in a structured way that 
allows for efficient retrieval and manipulation of data. Databases are used in a wide
range of applications, including e-commerce, social media, banking, healthcare, and more.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases 
that differ in the way they store and retrieve data:

SQL databases are relational databases that store data in tables with a 
predefined structure. SQL databases use SQL as the standard language for accessing
and manipulating data. SQL databases are typically used for applications that require
complex queries and transactions, such as financial systems, ERP systems, and data warehousing.
Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases are non-relational databases that store data in various formats, 
including key-value pairs, documents, graphs, or columns. NoSQL databases are often 
used in big data applications where large amounts of unstructured or semi-structured 
data are processed, such as social media platforms, e-commerce, and IoT. NoSQL databases do not 
require a fixed schema, and they are more flexible and scalable than SQL databases. Examples of 
NoSQL databases include MongoDB, Cassandra, and Couchbase.
"""

In [ ]:
# Q2:
# What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""
DDL stands for Data Definition Language, which is a set of SQL commands used to define 
and manipulate the structure of a database. DDL commands are used to create, modify, and 
delete database objects such as tables, views, indexes, and constraints.
"""
# CREATE: The CREATE command is used to create a new database object, such as a table, view, or index.
CREATE TABLE employees (
  employee_id int PRIMARY KEY,
  first_name varchar(50) NOT NULL,
  last_name varchar(50) NOT NULL,
  email varchar(100)
);

# DROP: The DROP command is used to delete a database object, such as a table, view, or index.
DROP TABLE employees;

# The ALTER command is used to modify the structure of an existing database object, such as a table
ALTER TABLE employees
ADD phone varchar(20);

# TRUNCATE: The TRUNCATE command is used to remove all data from a table.
TRUNCATE TABLE employees;

In [ ]:
# Q3:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""
DML stands for Data Manipulation Language, which is a set of SQL commands used to 
manipulate the data stored in a database. DML commands are used to insert, update, 
and delete data in tables.
"""

# INSERT: The INSERT command is used to insert new data into a table.
INSERT INTO customers (id, name, email)
VALUES (1, 'John Smith', 'john@example.com');

# UPDATE: The UPDATE command is used to update existing data in a table
UPDATE customers
SET email = 'jsmith@example.com'
WHERE id = 1;

# DELETE: The DELETE command is used to delete data from a table.
DELETE FROM customers
WHERE id = 1;

In [5]:
# Q4:
# What is DQL? Explain SELECT with an example.
"""
DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data 
from a database. DQL commands are used to retrieve data from one or more tables in a database.
"""
# Here's an example of how to use the SELECT statement to retrieve all data from a "customers" table:
SELECT * FROM customers;

In [ ]:
# Q5:
# Explain Primary Key and Foreign Key.
"""
Primary Key: A primary key is a column or set of columns in a table that uniquely 
identifies each row in the table.

Foreign Key: A foreign key is a column or set of columns in one table that refers to the 
primary key of another table.
"""

In [6]:
# Q6:
# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM yourtable")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)


"""
The cursor() method is used to create a cursor object, which is used to execute SQL statements 
and to retrieve data from the database. The execute() method of the cursor object is used to 
execute an SQL statement.
"""

In [ ]:
# Q7: