In [1]:
# Q1: 
# Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)

print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [3]:
# Q3:
# Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
# Q4:
# What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""
A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
It is similar to a spreadsheet or a SQL table.

On the other hand, a Series is a one-dimensional labeled data structure with a single column of data. 
It is similar to a column in a spreadsheet or a SQL table. 

The main difference between a DataFrame and a Series is that a DataFrame is a 2-dimensional 
data structure that can store multiple columns of data, whereas a Series isa 1-dimensional
data structure that can only store a single column of data.
"""

# Example:
import pandas as pd

# create a dictionary with two Series
data = {'Name': pd.Series(['Alice', 'Bob', 'Claire']),
        'Age': pd.Series([25, 30, 27])}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from one of the columns in the DataFrame
ages = df['Age']

print(df)
print(ages)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
# Q5:
# What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
"""
head() and tail(): These functions are used to view the first and last rows of the DataFrame.

describe(): This function provides a summary of the numerical columns in the DataFrame, 
including count, mean, standard deviation, minimum, and maximum values.

groupby(): This function is used to group the data in the DataFrame based on one or more columns
and perform operations on each group.

fillna(): This function is used to fill missing values in the DataFrame with a 
specified value or method.
"""

In [ ]:
# Q6:
# Which of the following is mutable in nature Series, DataFrame, Panel?
"""
Both Series and DataFrame are mutable in nature, while Panel is considered to be deprecated 
in favor of multi-dimensional NumPy arrays.

In a Series, you can modify individual values by accessing them by index, 
while in a DataFrame, you can modify individual values by accessing them by row and 
column labels or integer positions.
"""

In [7]:
# Q7:
# Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female